<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="shortcut icon" href="../assets/imgl/favicon.ico" type="image/favicon.icon"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="../assets/css/style3.css">
    </head>
    <body>
        <header>
            <div class="link2">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./program.html">Program</a></li>
                </ul>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Contact</h1>
        <br>
        <section class="par">
            <nav>
                i am available on these following social media platforms
                <br>
                so make sure to support me.
                <br>
            </nav>
        </section>
        <div class="link">
            <nav>
                <ul>
                    <a href="https://www.instagram.com/raad_remon/"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="https://www.snapchat.com/add/raad_remon2019?share_id=QUU0Q0My&locale=en_BD"><i class="fab fa-snapchat-ghost fa-3x"></i></a>
                    <a href="https://discord.com/channels/750565363087048724/750565363087048727"><i class="fab fa-discord fa-3x"></i></a>
                    <a href="https://twitter.com/Remon111533922"><i class="fab fa-twitter fa-3x"></i></a>
                    <a href="https://github.com/Remon009534"><i class="fab fa-github fa-3x"></i></a>
                    <a href="https://www.reddit.com/user/Remon8071"><i class="fab fa-reddit-alien fa-3x"></i></a>
                    <!-- <a><i class="fab fa-telegram-plane fa-3x"></i></a> -->
                    <a href="https://www.facebook.com/profile.php?id=100077659358660"><i class="fab fa-facebook fa-3x"></i></a>
                </ul>
            </nav>
        </div>
    </body>
</html>
