<!DOCTYPE html>
<html>
    <head>
        <title>Program</title>
        <link rel="stylesheet" href="../assets/css/style3.css">
        <link rel="shortcut icon" href="../assets/imgl/favicon.ico" type="image/favicon.icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <div class="link2">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>These are the programming languages i use :</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="link">
            <nav>
                <ul>
                    <a><i class="fab fa-python fa-3x"></i></a>
                    <a><i class="fab fa-java fa-3x"></i></a>
                    <a><i class="fab fa-js-square fa-3x"></i></a>
                    <a><h2>C<span>++</span></h2></a>
                    <a><h2>C<span>#</span></h2></a>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>These are the markup languages i use :</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="link">
            <nav>
                <ul>
                   <a><i class="fab fa-html5 fa-3x"></i></a>
                   <a><i class="fab fa-css3-alt fa-3x"></i></a>
                   <a><i class="fab fa-bootstrap fa-3x"></i></a>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>